input {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    background: transparent;
    text-align: center;    
}

label {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

button{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    border-radius: 10px;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    background-color: #4e9af1;
    font-weight:400;
    color: black;
    text-align:center;
    transition: all 0.15s;
}


button:hover{
    cursor: pointer;
    color:#FFFFFF;
    border-color:#FFFFFF;
}

button:active{
    color:#4e9af1;
    border-color:#FFFFFF;
}

@media all and (max-width:30em){
    button{
        display: block;
        margin: 0.4em auto;
    }
}

a.button{
    display: inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    border-radius: 10px;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#42cc8c;
    text-align:center;
    transition: all 0.15s;
}

a.button:hover{
    cursor: pointer;
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
}

@media all and (max-width:30em){
    a.button{
        display: block;
        margin: 0.4em auto;
    }
}

#WeatherPage {
    text-align: center;
}