input {
    padding: 10px 0;
    font-size: 16px;
    color:royalblue;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(8px);
    text-align: center;    
}

label {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}


button, a.button{
    display: inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    border-radius: 10px;
    margin: 2% auto;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background: rgba(31, 150, 86, 0.1);
    backdrop-filter: blur(8px);
    text-align:center;
    transition: all 0.15s;
    border-radius: 10px;
}

button:hover, a.button:hover{
    cursor: pointer;
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
}

@media all and (max-width:30em){
    a.button{
        display: block;
        margin: 0.4em auto;
    }
}

#WeatherPage {
    text-align: center;
}

#current_weather {
    padding: 1em;
    border: 1px solid #FFFFFF;
    color: white;
    border-radius: 10px;
    margin: 2% auto;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(8px);
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
}