{{yield}}

<form>      
    <label>City Name</label>  
    <input type="text" name='' value='' {{on 'click' this.setInput('john')}} />
    
    <br/>
    <br/>        
    <button href="#" {{on 'click' this.handleAPIcall}}>Search</button>
</form>