{{yield}}

<div>       
    <input id='userInput' type="text" name='' value='' placeholder="City Name" {{on "keydown" this.search}}/>    
    <br/>
    <br/>        
    <div id='current_weather'></div>
</div>