{{page-title "Weather"}}
<div id='WeatherPage'>  
    {{input-form}}
    {{!-- <form>        
        <input type="text" name="" required=""/>
        <label>City Name</label>
        <br/>
        <br/>        
        <button href="#" >Search</button>
    </form> --}}
    {{!-- <div>
        {{#each @model as |weather|}}
        <br/>
            <a class='button'>{{weather}}</a>
        <br/>
        {{/each}}
    </div> --}}
</div>
{{outlet}}