{{page-title "Weather"}}
<div id='WeatherPage'>  
    {{input-form}}
    {{!-- <div>
        {{#each @model as |weather|}}
        <br/>
            <a class='button'>{{weather}}</a>
        <br/>
        {{/each}}
    </div> --}}
</div>
{{outlet}}